@{
    ViewData["Title"] = "Alternative Suggestion";
}
<style>
    .smallCard {
        max-height: 100%;
        max-width: 100%;
        padding: 20px;
        margin: 20px;
        background-color: lightblue;
    }
</style>

<div class="panel panel-default">
    <a href="#" id="backtoHomepage"><<< Back</a>
    <div class="panel-body window">
        <div class="row">
            <div class="col-md-4">
                <div class="card smallCard">
                    <div class="card-header"> Workout 1</div>
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Choose</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card smallCard">
                    <div class="card-header"> Workout 2</div>
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Choose</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card smallCard">
                    <div class="card-header"> Workout 3</div>
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Choose</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $(function () {
        $("#alternativeSuggestion").on("click", function () {
            //validaitons
            $.ajax(
                {
                    url: "/Suggestion/GetSuggestions",
                    type: "GET",
                    success: function (response) {
                        debugger;
                        //populate the data in the table
                        $("#suggestionWindow").html(response);

                    }
                });

        });

        $("#backtoHomepage").on("click", function () {
            $.ajax(
                {
                    url: "/Home/HomePage",
                    type: "GET",
                    success: function (response) {
                        debugger;
                        //populate the data in the table
                        $("#main-body").html(response);

                    }
                });
        })
    });
</script>
