@{
    ViewData["Title"] = "Suggestions";
    decimal totalDuration = 0;
    decimal totalCalories = 0;
}
  


<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Exercise</th>
            <th scope="col">Total Time</th>
            <th scope="col">Total Burn</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.Exercises)
        {
           
                totalDuration +=  item.TotalTime;
                totalCalories += item.TotalBurn;
            <tr>
                <td>@item.ExerciseName</td>
                <td>@item.TotalTime</td>
                <td>@item.TotalBurn</td>
            </tr>


        }
        <tr>
            <td><b>Total</b></td>
            <td><b>@totalDuration Minutes</b></td>
            <td><b>@totalCalories Calories</b></td>
        </tr>

    </tbody>
</table>

<a href="#" id="alternativeSuggestion">See Other Workouts</a>
<button class="btn btn-primary" id="saveSuggestions">Accept</button>


<script>
    $(function () {
        $("#alternativeSuggestion").on("click", function () {
            //validations
            GlobalFunc.GetPage("/Suggestion/GetAlternativeSuggestions", "#main-body");
        });
    });
</script>