@{
    ViewData["Title"] = "Suggestions";
    float totalDuration = 0;
    float totalCalories = 0;
    int workoutId = 0;
}


<div class="col">
    @foreach (var item in ViewBag.Exercises)
    {
        workoutId = item.WorkoutId;
        totalDuration += item.TotalTime;
        totalCalories += item.TotalBurn;

        <div class="row suggestion-table-col px-3">
            <div class="col p-2 d-flex justify-content-center">@item.ExerciseName</div>
            <div class="col p-2 d-flex justify-content-center">@item.TotalTime</div>
            <div class="col p-2 d-flex justify-content-center">@item.TotalBurn</div>
        </div>

    }
    
<div class="row suggestion-table-col px-3">

    <div class="col p-2 d-flex justify-content-center"><b>Total</b></div>
    <div class="col p-2 d-flex justify-content-center"><b>@totalDuration minutes</b></div>
    <div class="col p-2 d-flex justify-content-center"><b>@totalCalories calories</b></div>
</div>

</div>


<input type="hidden" id="workoutId" value="@workoutId" class="hidden" />

<script>
    $(function () {
        $("#alternativeSuggestion").on("click", function () {
            workoutId = $("#workoutId").val();
            $.ajax(
                {
                    url: "/Suggestion/GetAlternativeSuggestions",
                    method: "POST",
                    data: { workoutId: workoutId },
                    success: function (res) {
                        $("#main-body").html(res);
                    }
                })
        });

        $("#saveSuggestions").on("click", function () {
            workoutId = $("#workoutId").val();
            $.ajax(
                {
                    url: "/Suggestion/saveSuggestion",
                    method: "POST",
                    data: { workoutId: workoutId },
                    success: function (res) {
                        $("#main-body").html(res);
                    }
                })
        });
    });
</script>