


<div class="card  customCard window">
    <div class="card-header">
        <img src="~/images/logo/logo-s.svg" class="logo">
    </div>

    <div class="card-body">
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="pills-login-tab">
                <div class="form px-4 pt-2">
                    <form id="login">
                        <div class="row">
                            <div class="form-group col-md-4"></div>

                            <div class="error col-md-4" id="loginErrorMsg"></div><br />
                        </div>


                        <div class="row form-group">
                            <label class=" col-md-4 col-form-label">Email</label>
                            <div class="form-group col-md-8">
                                <input name="email" id="email" placeholder="abc@gmail.com" class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <label class=" col-md-4 col-form-label">New Password</label>
                            <div class="form-group col-md-8">
                                <input type="password" id="password" name="password" placeholder="password" class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <label class=" col-md-4 col-form-label">Confirm Password</label>
                            <div class="form-group col-md-8">
                                <input type="password" id="confirmPassword" name="confirmPassword" placeholder="password" class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-3"></div>
                            <div class="form-group col-md-6">
                                <button type="submit" class="btn btn-blue btn-block">Login</button>
                            </div>
                        </div>                        
                    </form>
                </div>
            </div>            
        </div>
    </div>
</div>

<script>
    $(function () {
        //form validation using jquery validate
        GlobalFunc.HideLogout();

        $("form#login").validate({
            errorPlacement: function (error, element) { error.insertBefore(element); },
            rules: {
                email: {
                    required: true,
                    email: true
                },
                password: {
                    required: true,
                    minlength: 6
                },
                confirmPassword: {
                    required: true,
                },
               
            },
            messages: {
                password: {
                    required: "Please enter your password",
                    minlength: "Your password must be at least 5 characters long"
                },
                confirmPassword: {
                    required: "Please enter your password",
                    minlength: "Your password must be at least 5 characters long"
                },


            },
            submitHandler: function (form) {
                debugger;
                if ($("#password").val() != $("#confirmPassword").val()) {
                    $("#loginErrorMsg").html("Passwords do not match!");

                }
                else {
                    $.ajax(
                        {
                            url: "/Home/ForgotPassword",
                            type: "POST",
                            data: {
                                email: $("#regEmail").val(),
                                password: $("#regPassword").val(),                                
                            },
                            success: function (response) {
                                if (response.isError == false) {
                                    GlobalFunc.GetPage("/Home/HomePage", "#main-body");

                                }
                                else {
                                    //display error message
                                    $("#loginErrorMsg").html(response.errorMessage);
                                }

                            }
                        });

                }
            }
        });

        $('input:text:first').focus();

        //prevent form submission on enter
        elements = $("input");
        $(elements).keypress(function (e) {
            if (e.keyCode == 13) {
                e.preventDefault();
                elements[elements.index(this) + 1].focus();
            }
        });
    });
</script>