
@{
    ViewData["Title"] = "Home Page";
}
<style>
    .panel-body {
        background-color: white;
        height: 100%;
        width: 75%;
    }
</style>
<div class="panel panel-default">
    <div class="panel-body window">
        <div class="row">
            <div class="col-md-5">
                <div class="row">

                    <div class="col-md-1"></div>

                    <div class="form-group  col-md-4">
                        <label>Your Height</label>
                        <input class="form-control" id="height" type="number" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-1"></div>

                    <div class="form-group  col-md-4">
                        <label>Your Weight</label>
                        <input class="form-control" id="weight" type="number" />
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-1"></div>
                    <div class="form-group  col-md-6">
                        <label>Desired Body Type</label>
                        <select class="form-select" id="bodyType">
                            <option value="0">Gain Weight</option>
                            <option value="1">Keep Fit</option>
                            <option value="2">Loose Weight</option>

                        </select>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-1"></div>
                    <div class="form-group  col-md-5">
                        <button class="btn btn-primary">Get Exercises</button>
                    </div>
                </div>


            </div>
            <div class="col-md-7">
                <div class="card-body  window" style="background-color:lavender;margin:4px 4px 4px 4px;height:80%"></div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        GlobalFunc.ShowLogout();
        $(document).find("#logout").on("click", function () { GlobalFunc.LogOut(); })
    });

</script>