

<div class="d-flex justify-content-center align-items-center mt-5">
    <div class="card">
        <div class="login-window">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item text-center"> <a class="nav-link active " id="pills-login-tab" data-toggle="pill" href="#pills-login" role="tab" aria-controls="pills-login" aria-selected="true">Login</a> </li>
                <li class="nav-item text-center"> <a class="nav-link" id="pills-register-tab" data-toggle="pill" href="#pills-register" role="tab" aria-controls="pills-register" aria-selected="false">Signup</a> </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="pills-login-tab">
                    <div class="form px-4 pt-5">
                        <input type="text" class="form-control" placeholder="abc@gmail.com">
                        <input type="text" name="" class="form-control" placeholder="password">
                        <button class="btn btn-blue btn-block">Login</button>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-register" role="tabpanel" aria-labelledby="pills-register-tab">
                    <div class="form px-4"> <input type="text" name="" class="form-control" placeholder="Name"> <input type="text" class="form-control" placeholder="Email"> <input type="text" name="" class="form-control" placeholder="Phone"> <input type="text" name="" class="form-control" placeholder="Password"> <button class="btn btn-blue btn-block">Signup</button> </div>
                </div>
            </div>
        </div>

    </div>

</div>

<script src="~/lib/jquery/dist/jquery.js"></script>

