@{
    ViewData["Title"] = "Log In / Sign Up";
}
﻿

<div class="d-flex justify-content-center align-items-center mt-5">
    <div class="card">
        <div class="card-header">
            <img src="~/images/logo/logo-s.svg" class="logo">

        </div>

        <div class="login-window">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item text-center"> <a class="nav-link active " id="pills-login-tab" data-toggle="pill" href="#pills-login" role="tab" aria-controls="pills-login" aria-selected="true">Login</a> </li>
                <li class="nav-item text-center"> <a class="nav-link" id="pills-register-tab" data-toggle="pill" href="#pills-register" role="tab" aria-controls="pills-register" aria-selected="false">Signup</a> </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="pills-login-tab">
                    <div class="form px-4 pt-5">
                        <form id="login">
                            <input type="text" class="form-control" name="email" placeholder="abc@gmail.com">
                            <input type="text" name="password" class="form-control" placeholder="password">
                            <button type="submit" class="btn btn-blue btn-block">Login</button>
                        </form>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-register" role="tabpanel" aria-labelledby="pills-register-tab">
                    <form id="registration" action="">
                        <div class="form px-4">
                            <input type="text" name="name" class="form-control" placeholder="Name">
                            <input type="text" name="dob" class="form-control" placeholder="Date of Birth">

                            <input type="text" name="email" class="form-control" placeholder="Email">
                            <input type="text" name="password" class="form-control" placeholder="Password">
                            <button type="submit" class="btn btn-blue btn-block">Signup</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $(function () {

        //form validation using jquery validate
        $("form#login").validate({
            errorPlacement: function (error, element) { error.insertBefore(element) },
            rules: {
                email: {
                    required: true,
                    email: true
                },
                password: {
                    required: true,
                    minlength: 6
                }
            },
            // Specify validation error messages
            messages: {
                email: "Please enter your email",
                password: {
                    required: "Please enter your password",
                    minlength: "Your password must be at least 5 characters long"
                },
            },
            submitHandler: function (form) {
                form.submit();
            }
        });
        $("form#registration").validate({
            errorPlacement: function (error, element) { error.insertBefore(element); },
            rules: {
                email: {
                    required: true,
                    email: true
                },
                password: {
                    required: true,
                    minlength: 6
                },
                dob: { required: true },
                name: { required: true }
            },
            messages: {
                password: {
                    required: "Please enter your password",
                    minlength: "Your password must be at least 5 characters long"
                },


            },
            submitHandler: function (form) {
                form.submit();
            }
        });

    });
</script>

