@{
    ViewData["Title"] = "Log In / Sign Up";
}

<div class="form-control">
    <p class="form-control__error-message">Invalid</p>
    <input type="text" class="form-control__input" required>
    <label class="form-control__label">Label</label>
</div>